@model AppointmentView
@{
    ShopContext sc = new ShopContext();
    var user = sc.Users.Where(x=>x.UserID == Convert.ToInt16(new AESEncryptionService().Decrypt(Context.Session.GetString("sessID")))).First();
    
}
<h3>Hoşgeldin @user.UserName, buradan randevu alabilirsin.</h3>
<p>@TempData["msj"]</p>
<form asp-action="CreateAppointment" method="post">
    <div class="form-group">
        <label for="SelectedBarberId">Berber</label>
        <select asp-for="UserID" asp-items="Model.Users" class="form-control" id="barberDropdown">
        <option value="">-- Bir Berber Seçiniz --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="SelectedServiceId">Hizmet</label>
        <select asp-for="ServiceID" asp-items="Model.Services" class="form-control" id="serviceDropdown">
            <option value="">-- Bir Hizmet Seçiniz --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="AppointmentTime">Randevu Tarih-Saat:</label>
        <input asp-for="AppointmentTime" class="form-control" id="appointmentDateInput" />
    </div>

    <button type="submit" class="btn btn-primary">Randevu Al</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            const now = new Date();
            const formattedDate = now.toISOString().slice(0, 16);
            $('#appointmentDateInput').val(formattedDate);

            $('#barberDropdown').change(function () {
                var UserID = $(this).val();
                $('#serviceDropdown').empty();

                if (UserID) {
                    $.getJSON('/UserAppointment/GetServicesByUser', { UserID: UserID }, function (data) {
                        $('#serviceDropdown').append('<option value="">-- Bir Hizmet Seçiniz --</option>');
                        $.each(data, function (index, item) {
                            $('#serviceDropdown').append('<option value="' + item.value + '">' + item.text + '</option>');
                        });
                    });
                } else {
                    $('#serviceDropdown').append('<option value="">-- Bir Hizmet Seçiniz --</option>');
                }
            });
        });
    </script>
}